body {
    position: relative;
    background: #2F3238;
    color: #7F8289;

    min-height: 100rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

nav.navbar-dark ul.navbar-nav li.nav-item a.active {
    color: #DE5E60;
}

.page, .page-alt, .pagetitle {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page {
    background: #2F3238;
}

.page-alt {
    background: #26292E;
}

.pagetitle {
    text-align: center;
}

.work-nav {
    padding-left: 0;
    list-style: none;
}