/* basic */
body {
    position: relative;
    background: #2F3238;
    color: #7F8289;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

a:hover, a:active, a:focus {
	outline: 0;
	color: #FFFFFF;
    text-decoration: none;
}

/* navbar */
nav.navbar-dark ul.navbar-nav li.nav-item a.active {
    color: #DE5E60;
}

/* portfolio */
.work-nav, .album-grid {
    padding-left: 0;
    list-style: none;
}

.work-nav li a {
    color: #7F8289;
}

.work-nav li a:hover {
    color: #FFFFFF;
}

.work-nav li a.active {
    color: #DE5E60;
}

/* .album-grid-item a + img {
	width: 100%;	
} */

/* section page */
.page, .page-alt, .pagetitle {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page, .page-alt {
    min-height: 1000px;
}

.page {
    background: #2F3238;
}

.page-alt {
    background: #26292E;
}

.pagetitle {
    text-align: center;
}